.container{
    width: 1300px;
    height: 650px;
    margin: 0 auto;
    margin-left: -50px;
    margin-bottom: -100px;
    background: #252E42;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.game_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.gameBoard {

}

.rol{
    display: flex;
    align-items: center;
    text-align: center;
    position: center;
}
.col{
    height: 100px;
    width: 100px;
    background-color: #61dafb;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 2.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.col:hover{
    border: 3px solid coral;
    opacity: 0.85 ;
}
.motions{
    min-width: 700px;
    min-height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.butt {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    height: 60px;
    width: 200px;
    border: 2px solid #252E42;
    border-radius: 10px;
    background-color: #61dafb;
}
.butt a{
    font-size: 30px;
    text-decoration: none;
    color: #252E42;
    font-weight: 600;
}
.butt:hover{
    background-color: #0eb7ef;
    border: 2px solid coral;
}

.startMenu {
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.text_block{
    display: flex;
    flex-direction: row;
}
.hello_text{
    margin: 5px
}
.options_block{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.select{
    height:45px;
    width:200px;
    font-size:20px;
    background-color: #7de54f;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

option{
    font-weight: bold;
    border-radius: 10px;
}

.medium{
    background-color: #ffee2a
}

.hard{
    background-color: #ef4141
}
@media (max-width: 1400px) {
    .container {
        width: 700px;
        height: 600px;
    }
    .col{
        height: 60px;
        width: 60px;
    }
    .motions{
        min-width: 250px;
        min-height: 180px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 5px;
        grid-columns-gap: 5px;

    }
    .hello_text{
        font-size: 28px;
        margin: 5px
    }
    .select{
        width: 150px
    }

    .butt {
        margin-top: 5px;
        height: 40px;
        width: 150px;
    }
    .butt a{
        font-size: 20px;
        text-decoration: none;
        color: #252E42;
        font-weight: 600;
    }
    .selectorField img{
        height: 45%;
        width: 45%;
    }

}

@media (max-width: 1025px) {
    .container {
        margin-left: 0;
        width: 650px;
        height: 550px;
    }
    .col{
        height: 80px;
        width: 80px;
    }
    .motions{
        min-width: 400px;
        min-height: 255px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;

    }
    .hello_text{
        font-size: 28px;
        margin: 5px
    }
    .select{
        width: 150px
    }

    .butt {
        margin-top: 5px;
        height: 40px;
        width: 150px;
    }
    .butt a{
        font-size: 20px;
        text-decoration: none;
        color: #252E42;
        font-weight: 600;
    }
    .startMenu{
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.63);
        position:absolute;
        top:0;
        left: 0;
        margin: auto auto;
        margin-left: 0;
    }

    
}

@media (max-width: 769px) {
    .container {
        margin-left: 0;
        width: 650px;
        height: 650px;
    }
    .col{
        height: 80px;
        width: 80px;
    }
    .motions{
        min-width: 500px;
        min-height: 150px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 5px;

    }
    .hello_text{
        font-size: 28px;
        margin: 5px
    }
    .select{
        width: 150px
    }

    .butt {
        margin-top: 5px;
        height: 40px;
        width: 150px;
    }
    .butt a{
        font-size: 20px;
        text-decoration: none;
        color: #252E42;
        font-weight: 600;
    }
    .startMenu{
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.63);
        position:absolute;
        top:0;
        left: 0;
        margin: auto auto;
        margin-left: 0;
    }


}
@media (max-width: 450px) {
    .container {
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }
    .col{
        height: 65px;
        width: 65px;
    }
    .col img{
        height: 70%;
        width: 70%;
    }
    .selectorField img{
        height: 45%;
        width: 45%;
    }
    .motions{
        min-width: 280px;
        min-height: 120px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 5px;

    }
    .hello_text{
        font-size: 28px;
        margin: 5px
    }
    .select{
        width: 150px
    }

    .butt {
        margin-top: 5px;
        height: 40px;
        width: 150px;
    }
    .butt a{
        font-size: 20px;
        text-decoration: none;
        color: #252E42;
        font-weight: 600;
    }
    .startMenu{
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.63);
        position:absolute;
        top:0;
        left: 0;
        margin: auto auto;
    }
    .text_block{
        flex-direction: column;
    }

}