* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 0 auto;
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width: 1025px){
    .App {  background-color: #252E42;}
}

